<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>疫情监控系统</title>
    <link rel="icon" href="../static/icon.ico">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <link href="../static/css/main.css" rel="stylesheet"/>
</head>
<body>

<div id="tim"></div>
<div id="gyroContain" class="col clearfix">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">疫情数据监控平台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">国内数据</a>
                        </li>
                        <li>
                            <a href="#">国外数据</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://www.baidu.com/#ie=utf8&wd=疫情最新政策">最新政策</a>
                                </li>
                                <li>
                                    <a href="https://www.baidu.com/#ie=utf8&wd=疫情当地政策">当地政策</a>
                                </li>
                                <li>
                                    <a href="https://www.baidu.com/#ie=utf8&wd=疫情国际消息">国际消息</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">健康码</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">防疫平台</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="row-cols-md-4 row">
        <div id="l1">我是左1</div>
        <div id="l2">我是左2</div>
    </div>
    <div class="row-cols-md-4 row">
        <div id="c1" class="row clearfix">
            <div class="txt"><h2 class="text-lg-center text-center">累计确诊</h2></div>
            <div class="txt"><h2 class="text-lg-center text-center">剩余疑似</h2></div>
            <div class="txt"><h2 class="text-lg-center text-center">累计治愈</h2></div>
            <div class="txt"><h2 class="text-lg-center text-center">累计死亡</h2></div>
            <div class="num"><h1 class="text-primary text-center"></h1></div>
            <div class="num"><h1 class="text-primary text-center"></h1></div>
            <div class="num"><h1 class="text-primary text-center"></h1></div>
            <div class="num"><h1 class="text-primary text-center"></h1></div>
        </div>
        <div id="c2">我是中2</div>
    </div>
    <div class="row-cols-md-4 row">
        <div id="r1">我是右1</div>
        <div id="r2">我是右2</div>
    </div>

    <script src="../static/js/ec_center.js"></script>
    <script src="../static/js/ec_left1.js"></script>
    <script src="../static/js/ec_left2.js"></script>
    <script src="../static/js/ec_right1.js"></script>
    <script src="../static/js/ec_right2.js"></script>
    <script src="../static/js/controller.js"></script>
</div>
</body>
</html>
